<h3>What I'm doing:</h3>

<ol class="round">
    <li class="one">
        <h5>Creating a project to understand WebParts</h5>
        Get a solid handle on the use and implementation of WebParts.
    </li>
    <li class="two">
        <h5>Implement and handle partial views</h5>
        WebParts should implement partial views and be able to be set into the sidebar or the main content pane.
    </li>
    
    <li class="three">
        <h5>What's in store</h5>  
        Next step is to add more partials to make a adding and editing projects appear on the same page.
        Then add AJAX updates.      
    </li>

</ol>

<section class="features">

    <section class="feature">
        <img src="~/Images/aspNetHome.png" alt="" />
        <h3>AJAX Updates</h3>
        <p>
            Know and effectively use AJAX
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/NuGetGallery.png" alt="" />
        <h3>WebParts</h3>
        <p>
            Know this inside and out.
        </p>
    </section>
    <section class="feature">
        <img src="~/Images/findHosting.png" alt="" />
        <h3>JavaScript</h3>
        <p>
            Implement JavaScript, jQuery for drag and drop capability.
        </p>
    </section>
</section>