@{
    ViewBag.Title = "Task List";
 }

<h2>About Project Manager</h2>
<p>
    <ol title="Create an MVC4 project">
        <li>
            Create a home page (alter the existing /home/index) for that site that displays a list of tasks
        </li>
        <li>
            Have the home/index view take a TaskList model, loop through the tasks and write out each task. 
            (keep the html simple and unstyled) do not use a “task” view at this time.
        </li>        
        <li>
            Add a view/partial called TaskList.cshtml and move the tasklist rendering into it, 
            and have the index.cshtml render the tasklist parital (rather than the index action just rendering the tasklist directly.)
        </li>        
        <li>
            Create a second parital called “TasklistSmall” that will render a smaller version of the task list. 
            (narrower, not as many details… cap it to 5 items… whatever)
        </li>        
        <li>
            Create a two column layout on the home page with the large 
            version of the tasklist rendering in the wider left column, and the smaller version rendering in the narrower right column.
        </li>        
        <li>
            Create a “Task” partial that will render a single task, and have both large and small tasklist partials delegate the rendering of the tasks to that partial
        </li>
        
        <li>
            Figure out the custom datetime editor template.
        </li>      
        
        <li>
            Create an controller action that renders and returns the html of a _projectlist view. you should be able to invoke this like, for example, /Ajax/projects, and the html is the response.
        </li>
        
        <li>
            have the home page load that section of the page page via ajax, using jQuery (if you want the original view to handle the initial load, that's fine. have a update link replace it with the results of the ajax call
        </li>

        <li>
            Report back often with questions and concerns, but I think you should be able to do this by end of day. Let me know if you disagree.
        </li>


    </ol>


    
</p>
