@model ProjectManager.Models.Project

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>



<div id="ajaxForm">
    @Html.HiddenFor(model => model.ProjectID)
    @Html.Partial("ProjectDisplayFields")
    <p> <input type="button" id="butDelete" value="Confirm Delete" /> </p>
</div>
<hr />
@Html.ActionLink("Back to List", "Index")

  
    

