@model ProjectManager.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("ProjectDisplayFields")

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
