@model ProjectManager.Models.Project

<script type="text/javascript" src="@Url.Content("~/Scripts/Libraries/jquery-1.7.2.js")"></script>

<div id="ajaxForm" class="">
    
    @Html.HiddenFor(model => model.ProjectID)

    @Html.Partial("ProjectEditorFields")
    
    <input type="button" id="butEdit" value="Submit Edit"/>
</div>
<hr />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>