@model ProjectManager.Models.Project

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Project</h2>
<hr />
<fieldset id="ajaxForm">
    @Html.HiddenFor(model => model.ProjectID)
    @Html.Partial("ProjectEditorFields")
    
    <p> <input type="button" id="butEdit" value="Submit Request" /> </p>
</fieldset>

<hr />
<div>
    @Html.ActionLink("Go Home", "Index")
</div>

