@using ProjectManager.Models
@model IEnumerable<Project>

@{ ViewBag.Title = "Index"; }

@Html.Partial("ProjectList")
<hr />

    @Html.Partial("Create")




<script type="text/mustache" id="formData">

</script>


<div id='actionArea'> Select an action.... </div>

