<script type="text/javascript">

    $(document).ready(function () {
        $.getJSON('/Project/GetProjectsJson', null, function (data) {
            var listTemplate = $('#projectListTemplate').html();
            var outputHtml = Mustache.to_html(listTemplate, data);
            $('#tablerow').html(outputHtml);
        });
    });
    


</script> 


<div class="projectlist" id="projectList">
        <table>
            <thead>
                <tr>
                    <th>Short Description</th>
                    <th>Detail</th>
                    <th>Completed</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tablerow"> </tbody> 
 </table>       
</div>
   
<script type="text/mustache" id="projectListTemplate">
   

{{#projects}}
<tr>    
    <td>{{Title}}</td>
    <td>{{Detail}}</td>
    <td></td>
    <td>
        <input type="button" data-id="{{ProjectID}}" class="editLink" value="Edit">  | 
        <input type="button" data-id="{{ProjectID}}" class="deleteLink" value="Delete">
    </td>
</tr>
{{/projects}}

</script>

