@{
    ViewBag.Title = "jsSelector Example";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/js-selector.example.js")"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>



<div>
    <h2 id="pagetitle">js Selector</h2>
</div><br />

<div>

    <div id="inputTest">
        <input type="text" id="inputBox" />
    </div>
    <hr />
    
    <div id="inputResultofInputTest">
        <label id="output" >What's in the box: </label>
        <input type="text" id="output_text" name="output_text"/>
    </div>
    
    <script type="text/javascript">
        (function (){
            $("#inputBox").change(function () {
                var input = $("#inputBox").val();
                $("#output_text").val(input);
            })
                .change();
        })();    
    </script>

</div>