

.custom {
    color: #fff;
    background-color: #6c6c6c;
    min-width: 200px;
    min-height: 20px;
    border-radius: 10px;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: .5em;
    padding-bottom: .5em;
    -moz-box-shadow:  5px 5px 5px #888;    
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 10px 10px 5px #888;
}

.custom h3 {
    color: orange;
}